* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* icon icoon hamburger */
header {
    background-color:rgb(46, 148, 211) ;
    padding: 10px 15px ;
}

.section-1 {
    width: 80%;
    margin: auto;
    margin-top: 35px;
}

i.fa-regular {
    font-size: 80px;
}


.flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.flex-colum {
    flex-direction: column;
}

.gap {
    gap: 15px;
}





.align-items-center {
    align-items: center;
}




button {
    border-radius: 25px;
    padding: 10px 45px;
}





.background-color-skyblue {
    background-color:skyblue ;
}

.background-color-violet {
    background-color:#9d83ef;
}

.background-color-white {
    background-color: white;
}


div.background-color-skyblue {
    border-radius: 20px;
    padding: 15px;
}


div.card {
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.padding-15 {
    padding: 15px 15px 0 15px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}






.marging-auto {
    margin: auto;
}

.margin-top-15px {
    margin-top: 15px;
}

div.background-color-skyblue h2 {
    margin-bottom: 15px;
    
}

.margin-top-55 {
    margin-top: 55px;
}

.margin-top-55 h2,p {
    margin-top: 45px;
}

.marging-bottom-55 {
    margin-bottom: 55px;
}

.padding-bottom-55 {
    padding-bottom: 55px;
}

.background-color-white h2,p {
    margin-top: 10px;
    text-align: center;
}



.border-radius-20 {
    border-radius: 20px;
}




.width-80 {
    width: 80%;
}