* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* icon icoon hamburger */
header {
    background-color:rgb(46, 148, 211) ;
    padding: 10px 15px ;
}

.section-1 {
    width: 80%;
    margin: auto;
    margin-top: 35px;
}

i.fa-regular {
    font-size: 80px;
}


.flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.flex-colum {
    flex-direction: column;
}

.gap {
    gap: 15px;
}

.align-items-center {
    align-items: center;
}

button {
    border-radius: 25px;
    padding: 7px 55px;
}

.background-color-skyblue {
    background-color:skyblue ;
}

.background-color-violet {
    background-color:#9d83ef;
}

.background-color-white {
    background-color: white;
}

div.background-color-skyblue {
    border-radius: 20px;
    padding: 15px;
}

div.card {
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padding-15 {
    padding: 15px 15px 0 15px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-55 {
    padding-bottom: 55px;
}

.margin-auto {
    margin: auto;
}

.margin-top-15px {
    margin-top: 15px;
}

div.background-color-skyblue h2 {
    margin-bottom: 15px;
}

.margin-top-55 {
    margin-top: 55px;
}

.margin-top-45 {
    margin-top: 45px;
}

.margin-top-55 h2,p {
    margin-top: 45px;
}

.margin-bottom-55 {
    margin-bottom: 55px;
}

.padding-top-bot {
    padding: 25px 0;
}

.text-align-center {
    text-align: center;
}

.border-radius-20 {
    border-radius: 20px;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

/* cards testimonial */
.settings-card-testimonial {
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    background-size: 100%;
    border-radius: 100%;
    margin: auto;
    background-position: center;
}

.card-testimonial-nat {
    background-image: url(../img/testimonial1.jpg) ;
    background-size: cover;
}

.card-testimonial-celia {
    background-image: url(../img/testimonial2.jpg) ;
    background-size: cover;
}

.card-testimonial-bob {
    background-image: url(../img/testimonial3.jpg) ;
    background-size: cover;
}

/* 6cards */
.contenitore-6cards div {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
}


/* responsive descktop  */
@media screen and (min-width: 1160px){
    .card {
        flex-basis: calc(calc(100% / 3) - 15px);
    }

    .card:nth-child(1) {
        flex-basis: calc(calc(100% / 3 * 2) - 15px);
        flex-direction: row;
    }

     .media-flex-no-wrap {
        flex-wrap: nowrap;
     }

     .contenitore-logo {
        margin: auto;
        width: 60%;
     }
 
     .flex {
        flex-direction: row;
     }
     
     .contenitore-strategic-planning {
        width: 50%;
        gap: 40px;
        margin: auto;
        align-items: baseline;
     }

     .contenitore-strategic-planning div:first-of-type img {
        margin-bottom: 135px;
     }

     .mediawidth-75 {
       width: 75%;
    }

   
    
}